.select {
  composes: input from 'Components/Form/Input.css';

  padding-right: 11px;
  padding-left: 11px;
}

.hasError {
  composes: hasError from 'Components/Form/Input.css';
}

.hasWarning {
  composes: hasWarning from 'Components/Form/Input.css';
}
