<select class="form-control x-monitor" name="monitor">
  <option value="all">All Episodes</option>
  <option value="future">Future Episodes</option>
  <option value="missing">Missing Episodes</option>
  <option value="existing">Existing Episodes</option>
  <option value="first">Only First Season</option>
  <option value="latest">Only Latest Season</option>
  <option value="none">None</option>
</select>
