.toggleButton {
  composes: toggleButton from 'Components/MonitorToggleButton.css';

  margin-right: 10px;
}

.separator {
  margin: 0 5px;
}

.tabs {
  margin-top: -32px;
}

.tabList {
  margin: 0 0 10px;
  padding: 0;
  /*border-bottom: 1px solid $borderColor;*/
}

.tab {
  position: relative;
  bottom: -1px;
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid transparent;
  border-top: none;
  list-style: none;
  cursor: pointer;
}

.selectedTab {
  border-color: $borderColor;
  border-radius: 0 0 5px 5px;
  background: $white;
  color: $black;
}

.tabPanel {
  margin-top: 20px;
}

.openSeriesButton {
  composes: button from 'Components/Button.css';

  margin-right: auto;
}
