<div class="col-md-12" id="movie"><div><fieldset>
<legend>Movie Profiles</legend>
<div class="row">
    <div class="col-md-12">
        <ul class="profiles thingies">
            <li class="iv-settings-profile-profileview">
              <div class="profile-item thingy">
                  <div>
                      <h3 name="name">Surround</h3>
                  </div>

                  <ul class="allowed-qualities">
<li><span class="label label-info" title="" data-original-title="Cutoff">7.1</span></li>
<li><span class="label label-info" title="Cutoff">Full Surround</span></li>
<li><span class="label label-default" title="" data-original-title="cutoff">5.1</span></li>
<li><span class="label label-default" title="" data-original-title="cutoff">Atmos</span></li>
<li><span class="label label-default" title="" data-original-title="">DD5.1</span></li>
                  </ul>
              </div>
</li>
            <li class="iv-settings-profile-profileview">
              <div class="profile-item thingy">
                  <div>
                      <h3 name="name">SPARKS & EVO</h3>
                  </div>

                  <ul class="allowed-qualities">
                    <li><span class="label label-info" title="" data-original-title="cutoff">Sparks</span></li>
<li><span class="label label-info" title="" data-original-title="Cutoff">Evo</span></li>
                  </ul>
              </div>
            </li>
<li>
                <div class="profile-item thingy add-card x-add-card">
                    <span class="center well">
                        <i class="icon-sonarr-add"></i>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>
</fieldset></div></div>
