<div class="form-group">
    <label class="col-sm-2 control-label">Include Series Title</label>
    <div class="col-sm-6 col-md-4 col-lg-2">
        <div class="checkbox c-checkbox">
            <label>
                <input type="checkbox" name="includeSeriesTitle">
                <span class="check fa fa-check"></span>
            </label>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Include Episode Title</label>
    <div class="col-sm-6 col-md-4 col-lg-2">
        <div class="checkbox c-checkbox">
            <label>
                <input type="checkbox" name="includeEpisodeTitle">
                <span class="check fa fa-check"></span>
            </label>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Include Quality</label>
    <div class="col-sm-6 col-md-4 col-lg-2">
        <div class="checkbox c-checkbox">
            <label>
                <input type="checkbox" name="includeQuality">
                <span class="check fa fa-check"></span>
            </label>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Replace Spaces</label>
    <div class="col-sm-6 col-md-4 col-lg-2">
        <div class="checkbox c-checkbox">
            <label>
                <input type="checkbox" name="replaceSpaces">
                <span class="check fa fa-check"></span>
            </label>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Separator</label>
    <div class="col-sm-6 col-md-4 col-lg-2">
        <select class="form-control" name="separator">
            <option value=" - ">Dash</option>
            <option value=" ">Space</option>
            <option value=".">Period</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Numbering Style</label>
    <div class="col-sm-6 col-md-4 col-lg-2">
        <select class="form-control" name="numberStyle">
            <option value="{season}x{episode:00}">1x05</option>
            <option value="{season:00}x{episode:00}">01x05</option>
            <option value="S{season:00}E{episode:00}">S01E05</option>
            <option value="s{season:00}e{episode:00}">s01e05</option>
        </select>
    </div>
</div>
