.button {
  composes: link from './Link.css';

  overflow: hidden;
  padding: 6px 16px;
  border: 1px solid;
  border-radius: 4px;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;

  &:global(.disabled) {
    opacity: 0.65;
  }
}

.default {
  border-color: $defaultBorderColor;
  background-color: $defaultBackgroundColor;
  color: $defaultColor;

  &:hover {
    border-color: $defaultHoverBorderColor;
    background-color: $defaultHoverBackgroundColor;
  }
}

.primary {
  border-color: $primaryBorderColor;
  background-color: $primaryBackgroundColor;
  color: $white;

  &:hover {
    border-color: $primaryHoverBorderColor;
    background-color: $primaryHoverBackgroundColor;
  }
}

.danger {
  border-color: $dangerBorderColor;
  background-color: $dangerBackgroundColor;
  color: $white;

  &:hover {
    border-color: $dangerHoverBorderColor;
    background-color: $dangerHoverBackgroundColor;
  }
}
