.button {
  composes: link from './Link.css';

  overflow: hidden;
  border: 1px solid;
  border-radius: 4px;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  line-height: normal;

  &:global(.isDisabled) {
    opacity: 0.65;
  }

  &:hover {
    text-decoration: none;
  }
}

.danger {
  border-color: $dangerBorderColor;
  background-color: $dangerBackgroundColor;
  color: $white;

  &:hover {
    border-color: $dangerHoverBorderColor;
    background-color: $dangerHoverBackgroundColor;
    color: $white;
  }
}

.default {
  border-color: $defaultBorderColor;
  background-color: $defaultBackgroundColor;
  color: $defaultColor;

  &:hover {
    border-color: $defaultHoverBorderColor;
    background-color: $defaultHoverBackgroundColor;
    color: $defaultColor;
  }
}

.primary {
  border-color: $primaryBorderColor;
  background-color: $primaryBackgroundColor;
  color: $white;

  &:hover {
    border-color: $primaryHoverBorderColor;
    background-color: $primaryHoverBackgroundColor;
    color: $white;
  }
}

.success {
  border-color: $successBorderColor;
  background-color: $successBackgroundColor;
  color: $white;

  &:hover {
    border-color: $successHoverBorderColor;
    background-color: $successHoverBackgroundColor;
    color: $white;
  }
}

/*
 * Sizes
 */

.small {
  padding: 1px 5px;
  font-size: $smallFontSize;
}

.medium {
  padding: 6px 16px;
  font-size: $defaultFontSize;
}

.large {
  padding: 10px 20px;
  font-size: $largeFontSize;
}
