.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 4px;
  background-color: #f5f5f5;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progressBar {
  float: left;
  width: 0;
  height: 100%;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  transition: width 0.6s ease;
}

.frontTextContainer {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 100%;
}

.backText {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  text-align: center;
  font-weight: bold;
  font-size: 12px;
  cursor: default;
}

.frontText {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  cursor: default;
}

.primary {
  background-color: $primaryColor;
}

.danger {
  background-color: $dangerColor;
}

.success {
  background-color: $successColor;
}

.purple {
  background-color: $purple;
}

.warning {
  background-color: $warningColor;
}

.info {
  background-color: $infoColor;
}

.small {
  height: 10px;

  .backText,
  .frontText {
    height: 10px;
    line-height: 10px;
  }
}

.medium {
  height: 15px;

  .backText,
  .frontText {
    height: 15px;
    line-height: 15px;
  }
}

.large {
  height: 20px;

  .backText,
  .frontText {
    height: 20px;
    line-height: 20px;
  }
}
