<div class="calendar-event-time">
  {{StartTime start}} - {{StartTime end}}
</div>
<div class="calendar-event-status pull-right"></div>

<div class="calendar-event-series-title">
  {{seriesTitle}}
</div>