<div class="col-md-12" id="movie"><div><fieldset>
<legend>Movie Profiles</legend>
<div class="row">
    <div class="col-md-12">
        <ul class="profiles thingies">
            <li class="iv-settings-profile-profileview">
              <div class="profile-item thingy">
                  <div>
                      <h3 name="name">Bluray Large, 720p small</h3>
                  </div>

                  <!-- <ul class="allowed-qualities">
<li><span class="label label-info" title="" data-original-title="Cutoff">Bluray</span></li>
<li><span class="label label-default" title="">3D SBS Only</span></li>
<li><span class="label label-info" title="" data-original-title="cutoff">Surround (5.1, 7.1)</span></li>
<li><span class="label label-info" title="" data-original-title="cutoff">PTP Golden Preferred</span></li>
<li><span class="label label-default">English only</span></li>
<li><span class="label label-default" title="" data-original-title="">Bluray Large, 720p small</span></li>
<li><span class="label label-default" title="" data-original-title="">Seeders</span></li>
<li><span class="label label-default" title="" data-original-title="">Age</span></li>
                  </ul> -->
              </div>
</li>
            <li class="iv-settings-profile-profileview">
              <div class="profile-item thingy">
                  <div>
                      <h3 name="name">Bluray small, 720p medium</h3>
                  </div>

                  <!-- <ul class="allowed-qualities">
                    <li><span class="label label-info" title="" data-original-title="cutoff">Sparks & Evo Preferred</span></li>
<li><span class="label label-info" title="" data-original-title="Cutoff">Bluray</span></li>
<li><span class="label label-default" title="">No 3D</span></li>
<li><span class="label label-default" title="">Freeleech Preferred</span></li>
<li><span class="label label-default">English only</span></li>
<li><span class="label label-default" title="" data-original-title="">Bluray small, 720p medium</span></li>
<li><span class="label label-default" title="" data-original-title="">Seeders</span></li>
<li><span class="label label-default" title="" data-original-title="">Age</span></li>
                  </ul> -->
              </div>
            </li>
<li>
                <div class="profile-item thingy add-card x-add-card">
                    <span class="center well">
                        <i class="icon-sonarr-add"></i>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>
</fieldset></div></div>
