<div class="row">
    <div class="col-md-12">
        <div class="table-responsive x-history"/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="x-history-pager"/>
    </div>
</div>
