<div class="sidebar-right-section-title">
    <i class="icon-sonarr-sort-by"></i>
    <span class="title">Sort By</span>
</div>
<ul class="sidebar-right-list sidebar-right-sorting-list x-sorting-list"></ul>