<div class="fullscreen-modal manual-import-modal">
  <div class="fullscreen-modal-header">
    <button type="button" class="close x-close">
      <i class="icon-sonarr-close-modal"></i>
    </button>

    <h3>
      Manual Import - <span class="x-title">{{#if title}}{{title}}{{else}}Select Folder{{/if}}</span>
    </h3>

  </div>
  <div class="fullscreen-modal-body">
    <div class="x-workspace"></div>
    <div class="x-footer"></div>
  </div>
  <div class="fullscreen-modal-footer">
    <button class="btn btn-default x-close">Cancel</button>
    <button class="btn btn-success x-import" disabled="disabled">Import</button>
  </div>
</div>
