.row {
  composes: clickable from 'Styles/Mixins/clickable.css';

  cursor: pointer;
}

.level {
  width: 20px;
}

.time {
  width: 180px;
}

.detailsText {
  composes: scroller from 'Components/Scroller.css';

  display: block;
  margin: 0 0 10.5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #3a3f51;
  white-space: pre;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 13px;
  font-family: $monoSpaceFontFamily;
  line-height: 1.52857143;
}
