<div class="fullscreen-modal">
    <div class="fullscreen-modal-header">
        <button type="button" class="close x-close"><i class="icon-sonarr-close-modal"></i></button>
        <h3>Delete Mapping</h3>
    </div>
    <div class="fullscreen-modal-body">
        <p>Are you sure you want to delete the mapping for '{{localPath}}'?</p>
    </div>
    <div class="modal-footer">
        <button class="btn x-close">Cancel</button>
        <button class="btn btn-danger x-confirm-delete">Delete</button>
    </div>
</div>
