<div class="row">
  <ul class="nav nav-tabs nav-justified profile-tabs">
  		<li class="active"><a href="#movie-pr" class="x-movie-pr-tab no-router">Movie Profiles</a></li>
  		<li><a href="#quality-pr" class="x-quality-pr-tab no-router">Quality Profiles</a></li>
  		<li><a href="#preferred" class="x-preferred-tab no-router">Preferred Words Profiles</a></li>
  		<li><a href="#language" class="x-language-tab no-router">Language Profiles</a></li>
  		<li><a href="#size" class="x-size-tab no-router">Quality Definition Profiles</a></li>
  		<li><a href="#flags" class="x-flags-tab no-router">Indexer Flags Profile</a></li>
  </ul>
  <div class="tab-content">
  		<div class="tab-pane" id="movie-pr"></div>
  		<div class="tab-pane" id="quality-pr"></div>
  		<div class="tab-pane" id="preferred"></div>
  		<div class="tab-pane" id="size"></div>
  		<div class="tab-pane" id="flags"></div>
  </div>
</div>
