<span
      class="api-errors"
      data-container="#main-region"
      data-toggle="popover"
      data-placement="auto"
      data-trigger="click"
      data-html="true",
      data-content="<ul class='api-error-content'>
        <li>
          a1
        </li>
        <li>
          a1
        </li>
        <li>
          a1
        </li>
      </ul>">
  <i class="icon-sonarr-form-danger"></i>
</span>
