<span
      class="api-errors"
      data-container="#main-region"
      data-toggle="popover"
      data-placement="auto"
      data-trigger="hover"
      data-html="true",
      data-content="<ul class='api-error-content'>
        {{#each .}}
        <li>
          {{errorMessage}}
        </li>
        {{/each}}
      </ul>">
  <i class="icon-sonarr-form-danger"></i>
</span>
{{debug}}
