<div class="col-xs-12 spinner-container">
  <div class="ball-scale-ripple-multiple spinner">
    <div class="spinner-item"></div>
    <div class="spinner-item"></div>
    <div class="spinner-item"></div>
  </div>
</div>
