<div class="fullscreen-modal">
    <div class="fullscreen-modal-header">
        <button type="button" class="close x-close"><i class="icon-sonarr-close-modal"></i></button>
        <h3>Edit</h3>
    </div>
    <div class="fullscreen-modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Name</label>

                <div class="col-sm-9 col-md-7 col-lg-5">
                    <input type="text" name="name" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Enable</label>
                <div class="col-sm-9 col-md-7 col-lg-5">
                    <div class="checkbox c-checkbox">
                        <label>
                            <input type="checkbox" name="enable">
                            <span class="check fa fa-check"></span>
                            <span class="help-block"></span>
                        </label>
                    </div>
                </div>
            </div>

            <hr>

            {{formBuilder}}
        </div>
    </div>
    <div class="modal-footer">
        <span class="indicator x-indicator"><i class="icon-sonarr-spinner fa-spin"></i></span>

        <button class="btn x-close">Cancel</button>
        <button class="btn btn-primary x-save">Save</button>
    </div>
</div>
