<span class="pager-btn">
  <i class="clickable icon-sonarr-pager-first x-first-page-btn"></i>
</span>

<span class="pager-btn">
  <i class="clickable icon-sonarr-pager-previous x-previous-page-btn"></i>
</span>

<span class="page-info-container">
  <span class="x-page-info">
    <span class="x-page">{{page}}</span> / <span class="x-total-pages">{{totalPages}}</span>
  </span>

  <span class="x-page-selector-container"></span>

  <span class="page-selector-spinner x-page-selector-spinner">
    <i class="icon-sonarr-spinner fa-spin"></i>
  </span>
</span>

<span class="pager-btn">
  <i class="clickable icon-sonarr-pager-next x-next-page-btn"></i>
</span>

<span class="pager-btn">
  <i class="clickable icon-sonarr-pager-last x-last-page-btn"></i>
</span>

<span class="total-records pull-right">Total Records: <span class="x-total-records">{{totalRecords}}</span></span>
