<div class="calendar x-calendar">
  <div class="calendar-header">
    <div class="calendar-header-title visible-xs">{{title}}</div>

    <div class="calendar-header-group calendar-header-left">
      <div class="btn-group">
        <button class="btn btn-default previous x-previous"><i class="icon-sonarr-pager-previous"></i></button>
        <button class="btn btn-default next x-next"><i class="icon-sonarr-pager-next"></i></button>
      </div>
      <button class="btn btn-default today x-today">Today</button>
    </div>

    <div class="calendar-header-group calendar-header-center">
      <div class="calendar-header-title hidden-xs">{{title}}</div>
    </div>

    <div class="calendar-header-group calendar-header-right">
      <span class="loading-indicator x-loading-indicator spinner-small">{{>LoadingPartial}}</span>
      <div class="btn-group">
        {{#if showMonth}}<button class="btn btn-default btn-select-view month x-month x-view-select" data-view="month">Month</button>{{/if}}
        <button class="btn btn-default btn-select-view week x-week x-view-select" data-view="week">Week</button>
        <button class="btn btn-default btn-select-view day x-day x-view-select" data-view="day">Day</button>
      </div>
    </div>
  </div>

  <div class="x-calendar-day-headers"></div>
  <div class="x-calendar-days"></div>
</div>
