.selectable() {
  user-select: all;
}

.not-selectable() {
  user-select: none;
}

.color-impaired-background-gradient(@angle, @color) {
  .color-impaired-mode & {
    border-image: repeating-linear-gradient(@angle, darken(@color, 3%), darken(@color, 3%) 6px, @color 6px, @color 12px);
  }
}

.clickable {
  cursor: pointer;
}

.card(@color : #e1e1e1 ) {
  margin: 10px;
  background-color: #ffffff;
  padding: 10px;
  color: #444444;
  box-shadow: 0 0 10px 1px @color;
  border-radius: 3px;
}
