.showUpcomingButton {
  composes: toolbarButton from 'Components/Page/Toolbar/PageToolbarButton.css';
}

.showingUpcoming {
  composes: showUpcomingButton;

  color: $toobarButtonHoverColor;
}

.container {
  display: flex;
}
