@import "Content/Bootstrap/mixins";
@import "Content/Bootstrap/variables";
@import "Content/Bootstrap/buttons";
@import "Content/variables";
@import "Content/mixins";
@import "Content/icon-mixins";

.calendar-layout {

  display : flex;

  .calendar-container {
    flex-grow : 1;
  }

  .upcoming-container {
    flex-basis   : auto;
    padding-left : 20px;
    width        : 0;
    display      : none;

    @media (min-width: @screen-xl-min) {
      display : block;

      &.show-upcoming {
        width: 350px;
      }
    }

    .hidden {
      display: none;
    }

    .upcoming-visibility-controls {
      .clickable();

      .open-upcoming, .close-upcoming {
        .clickable();
      }

      margin-top: 9px;
      margin-right: -5px;
      font-size: 18px;

      .close-upcoming {
        display: none;
      }

      .open-upcoming {
        display: block;
      }
    }

    &.show-upcoming {
      .upcoming-visibility-controls {
        .close-upcoming {
          display: block;
        }

        .open-upcoming {
          display: none;
        }
      }
    }

    .icon-sonarr-close-upcoming {
      .fa-icon-content(@fa-var-caret-square-o-right);
    }

    .icon-sonarr-open-upcoming {
      .fa-icon-content(@fa-var-caret-square-o-left);
    }
  }

  .upcoming .event .status,
  .calendar .calendar-day .calendar-events .calendar-event,
  .calendar-legend .legend-label {
    &.primary {
      border-left-color: @btn-primary-bg;

      .color-impaired-background-gradient(90deg, @btn-primary-bg);
    }

    &.info {
      border-left-color: @btn-info-bg;
    }

    &.inverse {
      border-left-color: @btn-link-disabled-color;
      //background-color : @btn-link-disabled-color;
    }

    &.warning {
      border-left-color: @btn-warning-bg;

      .color-impaired-background-gradient(90deg, @btn-warning-bg);
    }

    &.danger {
      border-left-color: @btn-danger-bg;

      .color-impaired-background-gradient(90deg, @btn-danger-bg);
    }

    &.success {
      border-left-color: @btn-success-bg;
    }

    &.purple {
      border-left-color: @nzbdronePurple;
    }

    &.pink {
      border-left-color: @nzbdronePink;
    }

    &.premiere {
      border-left-color: @sonarr-blue;

      .color-impaired-background-gradient(90deg, @sonarr-blue);
    }

    &.unmonitored {
      border-color: grey;

      .color-impaired-background-gradient(45deg, grey);
    }
  }

  .calendar {
    margin-bottom: 10px;

    .calendar-header {
      display: flex;

      .calendar-header-title {
        font-size: 18px;
      }

      .calendar-header-group {
        width: 33.33%;
      }

      .calendar-header-center {
        text-align: center;
      }

      .calendar-header-right {
        text-align: right;
      }
    }

    .calendar-day-headers {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
      background-color: @gray-light;

      .calendar-day-header {
        width: 14.28%;
        text-align: center;
        font-weight: bold;

        &.calendar-current-day-header {
          background-color: #999999;
        }
      }
    }

    .calendar-days {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      border-right: 1px solid @gray-light;

      .calendar-day {
        width: 14.28%;
        padding-bottom: 2px;
        border-bottom: 1px solid @gray-light;
        border-left: 1px solid @gray-light;

        .calendar-day-date {
          padding-right: 5px;
          text-align: right;

          &.calendar-day-current-date {
            background-color: #dddddd;
          }
        }

        .calendar-event {
          .clickable();

          margin: 2px;
          padding: 5px;
          border: 1px solid @gray;
          border-left: 4px solid @gray;
          border-radius: 4px;
          font-size: 12px;
          overflow-x: hidden;

          .calendar-event-series-title {
            color: @gray-dark;
            font-size: 14px;
            overflow-x: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .calendar-event-time {
          }
        }
      }
    }

    .calendar-agenda {
      padding-top: 10px;

      .calendar-day {
        display: flex;
        padding: 10px 0 5px 0;
        border-bottom: 1px solid @gray;

        .date {
          width: 120px;
          font-weight: bold;
        }

        .calendar-event {
          display: flex;
          margin: 4px 0;
          line-height: 98px;
          font-size: 16px;
          border-left: 4px solid @gray;

          &:hover, &:focus {
            text-decoration: underline;
          }

          .clickable();

          .calendar-event-series-poster {
            height: 100px;

            .series-poster {
              height: 100px;
            }
          }

          .calendar-event-time {
            width: 150px;
            padding-left: 10px;
          }

          .calendar-event-episode-info {
            padding-left: 3px;
          }
        }
      }
    }

    &.day {
      .calendar-days .calendar-day {
        width: 100%;
      }

      .calendar-day-headers .calendar-day-header {
        width: 100%;
      }
    }

    .loading-indicator {
      display: inline-block;
      margin-top: -14px;
      position: relative;
      top: 10px;
      right: 10px;
      height: 25px;
    }

    .calendar-header-mobile {
      display: none;
    }

    @media @upto-tablet {
      .calendar-header-mobile {
        display: block;
        text-align: center;
        font-size: 18px;
      }

      .calendar-header {
        .calendar-header-group {
          &.calendar-header-left {
            width: 60%;
          }

          &.calendar-header-right {
            width: 40%;
          }
        }
      }
    }

    //Old

    width: 100%;

    th, td {
      border-color: #eeeeee;
    }

    .fc-event-skin {
      background-color: #007ccd;
      border: 1px solid #007ccd;
      border-radius: 4px;
      text-align: center;
    }

    .fc-event {
      .clickable;

      color: #777;
      background-color: #f5f5f5;

      .status {
        margin-right: 4px;
      }
    }

    th {
      background-color: #eeeeee;
    }

    h2 {
      font-size: 17.5px;
    }

    // Highlight today
    .fc-state-highlight {
      background : #e8e8e8;
    }

    //.past {
    //  opacity : 0.8;
    //}

    .chart {
      margin-top: 2px;
      margin-right: 2px;
      line-height: 12px;
    }

    .calendar-header-mobile-views {
      .view-select {
        .active-icon {
          .pull-right();

          display: none;
        }

        &.active {
          .active-icon {
            display: inline-block;
          }
        }
      }

      .calendar-mobile-view-button-text {
        text-transform: capitalize;
      }
    }
  }

  .upcoming {
    .event {
      display: inline-block;
      width: 100%;
      margin-bottom: 10px;
      border-bottom: 1px solid #eeeeee;
      padding-bottom: 10px;

      h4 {
        font-weight: 500;
        color: #008dcd;
        margin: 5px 0;
      }

      p {
        color: #999999;
        margin: 0;
      }

      .status {
        text-align    : center;
        display       : inline-block;
        border-left   : 4px solid #eeeeee;
        padding-right : 10px;
        float         : left;
        height        : 75px;
      }

      .episode-title {
        .clickable();
        .btn-link;
        .text-overflow;
        color: @link-color;
        margin-top: 1px;
        display: inline-block;

        @media (max-width: @screen-xs-min) {
          width: 140px;
        }

        @media (min-width: @screen-md-min) {
          width: 310px;
        }
      }
    }

    .upcoming-title {
      margin-top: 8px;
    }

    .upcoming-hr {
      margin: 10px 0;
    }
  }

  .calendar-legend {
    .legend-labels {
      display: flex;
      flex-flow: column wrap;
      height: 60px;
      padding: 3px 0;
      list-style: none;
      max-width: 600px;

      @media (max-width: @screen-sm-max) {
        height: 90px;
      }

      @media (max-width: @screen-xs-min) {
        height: 120px;
      }
    }

    .legend-label {
      display: inline-block;
      width: 150px;
      border-left: 4px solid #eeeeee;
      margin: 3px 0;
      padding-left: 5px;
      cursor: default;
    }
  }

  .ical {
    color: @btn-link-disabled-color;
    cursor: pointer;
  }

  .ical-url {
    input, input[readonly] {
      cursor: text;
    }
  }

  .calendar-title {
    text-align: center;

    h2 {
      margin-top: 0px;
      margin-bottom: 5px;
    }
  }
}
