<div class="row calendar-layout">
    <div class="col-lg-10 col-md-9 col-xs-12">
        <div id="x-calendar" class="calendar"></div>
        <div class="calendar-legend legend">
            <ul class='legend-labels'>
                <li class="legend-label premiere" title="Premiere episode hasn't aired yet">Unaired Premiere</li>
                <li class="legend-label primary" title="Episode hasn't aired yet">Unaired</li>
                <li class="legend-label warning" title="Episode is currently airing">On Air</li>
                <li class="legend-label purple" title="Episode is currently downloading">Downloading</li>
                <li class="legend-label danger" title="Episode file has not been found">Missing</li>
                <li class="legend-label success" title="Episode was downloaded and sorted">Downloaded</li>
                <li class="legend-label unmonitored" title="Episode is unmonitored">Unmonitored</li>
            </ul>
         </div>
    </div>
    <div class="col-lg-2 col-md-3 hidden-xs">
        <div id="x-upcoming" class="upcoming"></div>
    </div>
</div>
