<div class="calendar-layout">
  <div class="calendar-container">
    <div id="x-calendar" class="calendar"></div>
    <div class="calendar-legend legend">
      <div class='legend-labels'>
        <div class="legend-label premiere" title="Premiere episode hasn't aired yet">Unaired Premiere</div>
        <div class="legend-label primary" title="Episode hasn't aired yet">Unaired</div>
        <div class="legend-label warning" title="Episode is currently airing">On Air</div>
        <div class="legend-label purple" title="Episode is currently downloading">Downloading</div>
        <div class="legend-label danger" title="Episode file has not been found">Missing</div>
        <div class="legend-label success" title="Episode was downloaded and sorted">Downloaded</div>
        <div class="legend-label unmonitored" title="Episode is unmonitored">Unmonitored</div>
      </div>
    </div>
  </div>
  <div class="upcoming-container">
    <div id="x-upcoming" class="upcoming"></div>
  </div>
</div>
