<td class="health-status">
  <i class="icon-sonarr-health-{{lowerCase type}}" title="{{titleCase type}}"></i>
</td>

<td>{{message}}</td>

<td>
  <a href="{{name}}" title="Read the Wiki for more information" target="_blank">Wiki</a>
</td>