@size: 50px;

.spinner {
  display : inline-block;

  .spinner-item {
    border-color : @gray-dark;
    height       : @size;
    width        : @size;
  }
}

.spinner-container {
  margin-top : 10px;
  height     : @size;
  text-align : center;
}
