@size: 50px;

.spinner {
  display : inline-block;
  div {
    border-color : @gray-dark;
    height       : @size;
    width        : @size;
  }
}

.col-spinner {
  height: @size;
  text-align : center;
}
