<div class="fullscreen-modal">
  <div class="fullscreen-modal-header">
    <button type="button" class="close x-close">
      <i class="icon-sonarr-close-modal"></i>
    </button>
    <h3>Organize of Selected Series</h3>
  </div>
  <div class="fullscreen-modal-body update-files-series-modal">
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">
        <i class="icon-sonarr-close-modal"></i>
      </button>
      Tip: To preview a rename... select "Cancel" then any series title and use the
      <i data-original-title="" class="icon-sonarr-rename" title=""></i>
    </div>

    Are you sure you want to update all files in the {{numberOfSeries}} selected series?

    <ul class="selected-series">
      {{#each series}}
        <li>{{title}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn x-cancel">Cancel</button>
    <button class="btn btn-danger x-confirm-organize">Organize</button>
  </div>
</div>
