<li class="dropdown-submenu dropdown-submenu-right">
  <a href="#" tabindex="-1" data-token="Original Title">Original Title</a>
  <ul class="dropdown-menu">
    <li><a href="#" data-token="Original Title">Original Title</a></li>
    <li><a href="#" data-token="Original Filename">Original Filename</a></li>
  </ul>
</li>
