<li class="dropdown-submenu dropdown-submenu-right">
    <a href="#" tabindex="-1" data-token="season">Season</a>
    <ul class="dropdown-menu">
        <li><a href="#" data-token="season">1</a></li>
        <li><a href="#" data-token="season:00">01</a></li>
    </ul>
</li>
