{{#if_eq view compare="month"}}
  <div class="calendar-day-date {{#ifToday date}}calendar-day-current-date{{/ifToday}}">
    {{formatDate date format="D"}}
  </div>
{{/if_eq}}
<div class="x-calendar-day-events-region"></div>
