{{#if_eq view compare="month"}}
  <div class="calendar-day-date {{#if_today date}}calendar-day-current-date{{/if_today}}">
    {{formatDate date format="D"}}
  </div>
{{/if_eq}}
<div class="x-calendar-day-events"></div>