<fieldset class="advanced-setting">
    <legend>Folders</legend>

    <div class="form-group">
        <label class="settings-label control-label">Create empty series folders</label>
        <div class="settings-control">
            <div class="checkbox c-checkbox">
                <label>
                    <input type="checkbox" name="createEmptySeriesFolders">
                    <span class="check fa fa-check"></span>
                    <span class="help-block">Create missing series folders during disk scan</span>
                </label>
            </div>
        </div>
    </div>
</fieldset>

<fieldset class="advanced-setting">
    <legend>Importing</legend>

{{#if_mono}}
    <div class="form-group">
        <label class="settings-label control-label">Skip Free Space Check</label>
        <div class="settings-control">
            <div class="checkbox c-checkbox">
                <label>
                    <input type="checkbox" name="skipFreeSpaceCheckWhenImporting">
                    <span class="check fa fa-check"></span>
                    <span class="help-block">Use when drone is unable to detect free space from your series root folder</span>
                </label>
            </div>
        </div>
    </div>
{{/if_mono}}
    <div class="form-group">
        <label class="settings-label control-label">Use Hardlinks instead of Copy</label>
        <div class="settings-control">
            <div class="checkbox c-checkbox">
                <label>
                    <input type="checkbox" name="copyUsingHardlinks">
                    <span class="check fa fa-check"></span>
                    <span class="help-block">Use Hardlinks when trying to copy files from torrents that are still being seeded</span>
                    <span class="help-block help-block-warning">Occasionally, file locks may prevent renaming files that are being seeded. You may temporarily disable seeding and use Sonarr's rename function as a work around.</span>
                </label>
            </div>
        </div>
    </div>
</fieldset>
