<div class="col-md-12" id="movie"><div><fieldset>
<legend>Movie Profiles</legend>
<div class="row">
    <div class="col-md-12">
        <ul class="profiles thingies">
            <li class="iv-settings-profile-profileview">
              <div class="profile-item thingy">
                  <div>
                      <h3 name="name">PTP Golden Preferred</h3>
                  </div>

                  <ul class="allowed-qualities">
<li><span class="label label-info" title="" data-original-title="Cutoff">PTP Golden</span></li>
<li><span class="label label-info" title="" data-original-title="cutoff">PTP Approved</span></li>
<li><span class="label label-default" title="" data-original-title="">Freeleech</span></li>
<li><span class="label label-default" title="" data-original-title="">Double Upload</span></li>
<li><span class="label label-default" title="" data-original-title="">50% Freeleech</span></li>
                  </ul>
              </div>
</li>
            <li class="iv-settings-profile-profileview">
              <div class="profile-item thingy">
                  <div>
                      <h3 name="name">Freeleech Preferred</h3>
                  </div>

                  <ul class="allowed-qualities">
                  <li><span class="label label-info" title="" data-original-title="Cutoff">Freeleech</span></li>
                  <li><span class="label label-info" title="" data-original-title="cutoff">Double Upload</span></li>
                  <li><span class="label label-default" title="" data-original-title="">PTP Golden</span></li>
                  <li><span class="label label-default" title="" data-original-title="">PTP Approved</span></li>
                  <li><span class="label label-default" title="" data-original-title="">50% Freeleech</span></li>
                  </ul>
              </div>
            </li>
<li>
                <div class="profile-item thingy add-card x-add-card">
                    <span class="center well">
                        <i class="icon-sonarr-add"></i>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>
</fieldset></div></div>
