<div class="import-series-footer row">
  <fieldset>
    <div class="form-group col-md-2">
      <label>Monitor</label>
      {{> ../../Series/MonitorSelectionPartial.hbs}}
    </div>

    <div class="form-group col-md-2">
      <label>Profile</label>

      {{>../../Profile/ProfileSelectionPartial.hbs profiles}}
    </div>

    <div class="form-group col-md-2 inline">
      <div class="checkbox c-checkbox chk-season-folder">
        <label class="checkbox-inline">
          <input type="checkbox" class="x-season-folder">
          <span class="check fa fa-check"></span> Season Folder
        </label>
      </div>
    </div>

    <div class="form-group col-md-3 inline">
      <button class="btn btn-primary btn-import x-import">Import <span class="x-selected-count">0</span> Series</button>
    </div>
  </fieldset>
</div>
