<div id="import-series" class="col-xs-12">
  <div class="text-center">
    <h1>Import series you already have</h1>
    <button class="btn btn-lg btn-primary x-start">
      <i class="fa fa-hdd-o"></i> Start Import
    </button>
  </div>
  <h3>Here are a few tips to help things go smother:</h3>
  <ul>
    <li>Make sure your files include the quality in the name. eg.
      <code>episode.s02e15.bluray.mkv</code>
    </li>
    <li>Point Sonarr to the folder containing all of your tv shows not a specific one. eg.
      <code>"\tv shows\"</code> and not
      <code>"\tv shows\the simpsons\"</code>
    </li>
  </ul>
</div>
