@import "../../Content/Bootstrap/variables";


#import-series {
  h1 {
    text-align: center;
    margin-bottom: 40px;
  }


  code {
    background-color: inherit;
    color: inherit;
  }


  button {
    margin-bottom: 40px;


    i {
      padding-right: 10px;
    }
  }
}
