@import "../../Content/Bootstrap/variables";


#import-series {
  h1 {
    text-align: center;
    margin-bottom: 40px;
  }


  code {
    background-color: inherit;
    color: inherit;
  }


  button {
    margin-bottom: 40px;


    i {
      padding-right: 10px;
    }
  }
}

#import-series-table-region {
  i {
    padding-right: 5px;
  }
  .dropdown {
    ul, button {
      width: 100%;
      text-align: left;
    }

    ul{
      padding-left: 5px;
      padding-right: 5px;
    }

    .suggestion {
      a{
        padding: 10px;
      }
    }
  }

  .import-search {
    margin-bottom: 10px;
  }

  .caret {
    position: absolute;
    right: 10px;
    bottom: 50%;
  }
}
