<td>
  <i class="icon-sonarr-folder"></i>
  {{name}}
</td>
<td class="series-select-col">
  {{#if loading}}
    <div class="spinner-small">
      {{> ../../Shared/LoadingPartial}}
    </div>
  {{else}}
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle x-series-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <i class="icon-sonarr-warning x-series-select-warning"></i>
        <span class="x-series-select-title">No match found!</span>
        <span class="caret"></span>
      </button>
      <div class="x-suggestions"></ul>
    </div>
  {{/if}}
</td>

{{debug .}}
