<div class="standard">
    <div class="options">
        <ul class="sidebar-right-list">
            <li class="sidebar-right-list-item options-item x-options">
                <i class="icon-sonarr-options x-icon"></i>
            </li>
        </ul>
    </div>
    <div class="x-actions actions"></div>
</div>
<div class="extended">
    <div class="x-views views"></div>
    <div class="x-filtering filtering"></div>
    <div class="x-sorting sorting"></div>
</div>
