<div class="row">
    <div class="col-md-12 x-search-bar search-bar">
        <div class="input-group input-group-lg add-series-search">
            <span class="input-group-addon"><i class="icon-sonarr-search"/></span>
            <input type="text" class="form-control x-search-box" placeholder="eg. Breaking bad, tvdb:####">
        </div>
    </div>
</div>
<div class="spinner-container">
    <div class="row">
        {{>LoadingPartial}}
    </div>
</div>
<div id="result-region"/>
