<div class="col-xs-12 text-center">
    {{#if term}}
        <h2>Couldn't find any results for
            <em>'{{term}}'</em>
        </h2>
    {{else}}
        <h3>It's easy to add a new series, just start typing the name the series you want to add.</h3>
    {{/if}}
    <em>You can also search using TVDB ID of a show. eg. tvdb:71663</em>
</div>

{{debug}}
