.header {
  display: flex;
  font-weight: bold;
}

.quality,
.title {
  flex: 0 1 250px;
}

.sizeLimit {
  flex: 0 1 500px;
}

.sizeLimitHelpText {
  margin-top: 10px;
  max-width: 1000px;
  color: $helpTextColor;
  text-align: right;
}
