<fieldset>
    <legend>Quality Definitions</legend>
    <div class="col-md-12">
        <div id="quality-definition-list">
            <div class="quality-header x-header hidden-xs">
                <div class="row">
                    <span class="col-sm-3 col-lg-2">Quality</span>
                    <span class="col-sm-3 col-lg-2">Title</span>
                    <span class="col-sm-6 col-lg-4">Size Limit</span>
                </div>
            </div>
            <div class="rows x-rows">
            </div>
          <span class="col-sm-6 col-sm-offset-6 col-lg-4 col-lg-offset-4 size-limit-message">Limits are automatically adjusted for the series runtime and number of episodes in the file.</span>
        </div>
    </div>
</fieldset>
