{{#if renaming}}
  <div class="alert alert-success">
    Success! My work is done, no files to rename.
  </div>
{{else}}
  <div class="alert alert-warning">
    Renaming is disabled, no files need to be organized.
  </div>
{{/if}}

