<div class="sidebar-right-section-title">
    <i class="icon-sonarr-filter"></i>
    <span class="title">Filter</span>
</div>
<ul class="sidebar-right-list sidebar-right-filtering-list x-filtering-list"></ul>